{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300&family=Nunito:wght@200&display=swap" rel="stylesheet">
        <title>Contacts App</title>
        <script src="https://kit.fontawesome.com/9115b69874.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'style/main.css' %}">

        <!-- <style>
            
       </style> -->

    </head>
    <body>
        {% block content %} 



        {% endblock content %}
    </body>
</html>